.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.title {
  font-size: 2.2rem;
  color: #252523;
  margin-bottom: 15px;
}

.searchWrapper {
  max-width: 600px;
  width: 100%;
}

.image {
  width: 300px;
}

.imageBlock {
  margin-top: 20px;
}
