.footer {
  background-color: rgba(22, 22, 23, 0.8);
  padding: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 15px; /* Отступ между логотипом и текстом */
  flex: 1;
}

.slogan {
  margin: 0;
  color: #aaa;
  font-size: 14px;
}

.linksSection {
  flex: 1;
}

.linksSection h4 {
  margin-bottom: 10px;
}

.linksList {
  list-style: none;
  padding: 0;
}

.linksList li {
  margin-bottom: 8px;
}

.linksList a {
  color: #87ceeb;
  text-decoration: none;
  transition: color 0.3s;
}

.linksList a:hover {
  color: #1e90ff;
}

.socialLinks {
  flex: 1;
}

.socialLinks h4 {
  margin-bottom: 10px;
}

.socialLink {
  color: #87ceeb;
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s;
}

.socialLink:hover {
  color: #1e90ff;
}

.footerBottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  font-size: 14px;
  color: #aaa;
}

.creatorLink {
  color: #87ceeb;
  text-decoration: none;
  transition: color 0.3s;
}

.creatorLink:hover {
  color: #1e90ff;
}
